body {
  background-color: lightblue;
  width: 380px;
  margin: 0px;
}
h1 {
  color: white;
  text-align: center;
}
p {
  font-family: verdana;
  font-size: 20px;
}
.menu {
  min-height: 50px;
}
.head-menu {
  width: 380px;
}
.head-menu button {
  width: 72px;
}
.sub-menu {
  display: none;
  width: 380px;
}
.content {
  background-color: Bisque;
  width: 380px;
}
.content img {
  width: 380px;
}
textarea {
  display: none;
}
select {
  width: 260px;
}
#copy {
  position: absolute;
  left: 270px;
}
#copyButton {
  width: 110px;
}
